
.cars-section {
  padding: 60px 30px;
  margin-top: 50px;
}
.cars-section h2{
    font-size: 58px;
    font-weight: 800;

}
.car-card {
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.car-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.tag {
    position: absolute;
    top: 10px;
    left: 10px;
}


.rating {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}


.features {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.features span {
    background: #f1f1f1;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}


.price {
    color: #198754;
    font-weight: bold;
}


.btn-group-custom {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.btn-group-custom .btn {
    flex: 1;
    text-align: center;
}


.explore-btn {
    background: #e9ecef;
    color: #333;
}

.explore-btn:hover {
    background: #dcdcdc;
}

.book-btn {
    background: #198754;
    color: white;
}

.book-btn:hover {
    background: #146c43;
}
@media (max-width: 576px) {
  .cars-section {
    padding: 40px 15px;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}
.modal h2{
    color:#146c43;
    font-size: 28px;
    text-align: center;
}
.m-btn{
    background-color: #146c43;
    border-radius: 5px;
    border: none;
    height: 100%;
    width: 100%;
}

.modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 350px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}



